*{
    background:#201723;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
    
}

.logo{
    margin-top: 1px;
    margin-left: 1px;
    padding-top: 30px;
    padding-left: 5px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
    
}

.text-area {
    height: 100px;
    border: none;
    color: #ffffff;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: #ffffff; }
  .text-area:focus {
      outline: none;
    }

.mensaje{
    height: 300px;
    width: 525px;
    background: white;
    background-image: url("/imagenes/Nariz.gif");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    margin-top: 98px;
    color: #201723;
    
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
    margin-left: 18px;
}

.btn-desencriptar {
    background: #ffffff;
    border: 1px solid #201723;
    border-radius: 24px;
    color: #201723;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-encriptar {
    background-color: #201723;
    border: 1px solid #ffffff;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    border: 1px solid #ffffff;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-top: 18px;
    margin-left: 18px;
}

.pegar {
    border: 1px solid #ffffff;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-top: 18px;
    margin-left: 18px;
}

.informacion {
    color: #ffffff58;
    font-size:18px;
}





